<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>

    <environment names="Development">

    </environment>
    <environment names="Staging,Production">

    </environment>

</head>
<body>

    <div>
        About page !
    </div>

    <environment names="Development">
        <script type="text/javascript" src="~/build/about.bundle.js"></script>
    </environment>
    <environment names="Staging,Production">

    </environment>

</body>
</html>
